@import '../../assets/dist/import';

.bloc-page.fullwidth{
    .left-side{
        max-width: 361px;    
        height: 100vh;
        width: calc(100% - 81px);
        position: fixed;
        z-index: 999;
        background: $white;
        padding: 1rem;
        top: 0;
        left: 81px;

        .header-section{
            .searchField{                
                margin-top: 8px;
            }
        }

        .msg-section{
            margin-top: 32px;
            .msg-tags{
                @include flex($align: center, $justify: flex-start, $gap: 15px);
                width: 100%;
            }

            .message-boxes{
                height: 60vh;
                overflow-y: auto;
                margin-top: 25px;
            }
        }
    }
    .right-side{
        position: relative;
        width: calc(100% - 442px);
        height: 100vh;
        margin-left: 442px;
        background: $gray-200;
        .chat-room-header{
            z-index: 999;
            background: $gray-400;
            padding: .5rem 1.5rem;    
            box-shadow: 0px 5px 2px 0px $gray-200;
            height: 81px;
            @include flex($align: center, $justify: flex-start, $gap: 35px);
        }
        .chat-room-section{
            margin-top: 5px;
            padding: 1.25rem 1.5rem;
            height: calc(100% - 169px);
            overflow-y: auto;
            overflow-x: hidden;
        }

        .send-msgsection{
            @include flex($align: center, $justify: center, $gap: 35px);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: $gray-400;
            padding: 1rem 1.5rem;    
            box-shadow: 0px 5px 2px 0px $gray-900;
            .btn_groups{
                @include flex($align: center, $justify: center, $gap: 25px);
                .btn{
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    padding: 0.7rem;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    @include flex($align: center, $justify: center);
                    background: rgba($color: $blue, $alpha: .2);   
                    &:hover,
                    &.active{                    
                        background: rgba($color: $blue, $alpha: .7);  
                        svg{
                            color: $white;
                        }  
                    }        
                    &.active{
                        svg{
                            animation: pulse .5s ease infinite;
                        }
                        @keyframes pulse {
                            from{
                                transform: scale(1);
                            }to{
                                transform: scale(1.2);
                            }
                        }
                    }            
                    svg{
                        font-size: 1.5rem;
                        color: $gray-700;
                    }
                }
                .upload-group{
                    position: relative;
                    .btn-{
                        position: absolute;
                        top: -2px;
                        right: -2px;
                        cursor: pointer;
                        border: none;
                        background-color: transparent; 
                        svg{
                            @include flex($align: center, $justify:center);
                            font-size: 16px;
                            width: 12px;
                            height: 12px;
                            padding: .25rem;
                            border-radius: 50%;
                            color: $gray-700;
                            background: rgba($color: $white, $alpha: 1);
                        }
                    }    
                }
            }
            .wrap-input100{
                width: 100%;   
                .input100{
                    background: $white;
                    border-radius: .3rem;
                }
            }
            .btn_group{
                .btn{
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    &.btn-send{
                        padding: 0.7rem;
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        @include flex($align: center, $justify: center);
                        background: rgba($color: $blue, $alpha: .7);    
                        &:hover{
                            background: rgba($color: $blue, $alpha: 1);   
                        }                    
                        svg{
                            font-size: 1.5rem;
                            color: $white;
                        }
                        
                    }
                }
            }
    
        }

    }

}

