@import '../../../assets/dist/import';

.msg-box{
    margin: 8px 0 18px 0;
    overflow: hidden;
    display: block;
    transition: margin-right .5s ease;

    &.new{
        margin-right: 0;
        animation: SlideIn .2s ease;
        @keyframes SlideIn {
            0% {
                margin-right: -100%;
            }
            100% {
                margin-right: 0;
            }
        }
    }
    .content{
        display: block;
        padding: 0.70rem;
        border-radius: 5px;
        max-width: 350px;
        @include plusJakartaSansType($weight: 500);
        font-size: 14px;
        line-height: 1.5rem;
        color: $gray-800;
        white-space: break-spaces;
    }
    .msg-box-other-content{
        &.flex-b{
            @include flex($align: baseline, $justify: flex-start, $gap: 15px);
        }
        &.flex-c{
            @include flex($align: center, $justify: flex-start, $gap: 15px);
        }
    }

    .msgPic-box-container{
        width: 225px;
        height: 324px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
}

#my-msg .content{
    float: right;
    background-color: $primary;
}

#my-msg .msgPic-box-container{
    float: right;
}


#orther-msg .content
{
    float: left;
    background: $white;
}
